body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:110px;
  width:863px;
  height:102px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u2 {
  position:absolute;
  left:10px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
}
#u3 {
  position:absolute;
  left:154px;
  top:0px;
  width:139px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u4 {
  position:absolute;
  left:10px;
  top:14px;
  width:119px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:45px;
}
#u5 {
  position:absolute;
  left:293px;
  top:0px;
  width:392px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u6 {
  position:absolute;
  left:10px;
  top:14px;
  width:372px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u7 {
  position:absolute;
  left:685px;
  top:0px;
  width:173px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u8 {
  position:absolute;
  left:10px;
  top:14px;
  width:153px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u9 {
  position:absolute;
  left:0px;
  top:45px;
  width:154px;
  height:52px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:10px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
}
#u11 {
  position:absolute;
  left:154px;
  top:45px;
  width:139px;
  height:52px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:10px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:52px;
}
#u13 {
  position:absolute;
  left:293px;
  top:45px;
  width:392px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:10px;
  top:18px;
  width:372px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u15 {
  position:absolute;
  left:685px;
  top:45px;
  width:173px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u16 {
  position:absolute;
  left:10px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:465px;
  top:35px;
  width:165px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
